html {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

body {
  margin-right: 5rem;
  margin-left: 5rem;
}
p {
  line-height: 1.7rem;
}

.stackado {
  font-size: 16em;
  float: left;
  margin-right: 15px;
}

.stackada {
  width: 300px;
  height: 200px;
  border: 2px red solid;
  background-image: url("napoleon-.jpg");
  background-size: cover;
  float: right;
  margin: 15px;
}